/* Reset */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* General */
body {
	font-size: 1em;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	background-color: #f5f5f5;
	text-align: center;
	color: #444444;
}
h1 {
	font-size: 3em;
	font-family: 'Gentium Book Basic', serif;
	color: CornflowerBlue;
}
h2 {
	font-size: 1.3em;
	font-weight: 500;
	margin-bottom: 0.5em;
}
h3 {
	font-size: 1.1em;
	margin: 0.8em 0;
}
a {
	color: CornflowerBlue;
	text-decoration: none;
	border-bottom: 1px dotted;
}
header {
	margin: 4em 0;
}
header img {
	width: 4.2em;
	margin: 0 auto;
	padding-bottom: 0.3em;
}
footer {
	margin: 2em 0;
}
li > img {
	width: 30px;
	vertical-align: middle;
}
.to-do-list {
	background-color: white;
	padding: 2em;
}
.instructions {
	max-width: 39em;
	margin: 0 auto;
}
.instructions li {
	text-align: left;
	padding: 0.3em 0;
}
.list {
	width: 30em;
	margin: 2em auto 0;
	padding: 1.5em 0;
	border: 3px solid #f5f5f5;
	border-radius: 3px;
}
/* Clearing floats */
.cf:before, .cf:after{
	content:"";
	display:table;
}
.cf:after{
	clear:both;
}
.cf{
	zoom:1;
}
/* Form wrapper styling */
.form-wrapper {
	width: 86%;
	padding: 0.6em;
	margin: 0 auto 0.5em;
	border: 2px solid #f5f5f5;
	border-radius: 2px;
}
.form-wrapper input {
	width: 75%;
	float: left;
	color: #444444;
	font-size: 1em;
	font-family: 'Roboto', 'Helvetica Neue', sans-serif;
	text-align: left;
	border: 0;
}
.form-wrapper input:focus {
	outline: 0;
}
.form-wrapper input::-webkit-input-placeholder {
	color: #cccccc;
}
.form-wrapper input:-moz-placeholder {
	color: #cccccc;
}
.form-wrapper input:-ms-input-placeholder {
	color: #cccccc;
}   
.form-wrapper input.add {
	background: url(../images/add.svg) 40% 40% no-repeat;
	background-size: 30px;
	float: right;
	cursor: pointer;
	width: 25px;
	height: 25px;
	padding: 0;
}
/* To do lists */
.list ul {
	list-style: none;
}
.list li {
	width: 87%;
	height: 1.8em;
	margin: 0 auto;
	text-align: left;
	padding: 0.6em;
	border-bottom: 1px solid #e6e6e6;
}
.list li:hover {
	background-color: #f0f0f0;
}
.list li > p {
	margin-left: 5px;
	float: left;
	position: relative;
	top: 15%;
}
.list li > img {
	cursor: pointer;
}
img.check {
	width: 23px;
	margin-right: 7px;
	float: left;
}
img.delete {
	display: none;
	float: right;
	position: relative;
}
img.restore {
	position: relative;
	float: left;
	left: -2px;
	width: 27px;
	margin-right: 4px;
}
img.archive {
	display: none;
	float: right;
	position: relative;
	top: -0.35em;
}
.to-do li {
	color: CornflowerBlue;
}
.complete li {
	background-color: #f9f9f9;
	color: #cccccc;
}
.complete li > p {
	margin-left: 35px;
	position: relative;
	top: 20%;
	text-decoration: line-through;
}
.hidden {
	display: none;
}
.hidden li {
	background-color: #f9f9f9;
	color: #cccccc;
}
.hidden li > p {
	margin-left: 35px;
	position: relative;
	top: 20%;
	text-decoration: line-through;
}
.options {
	width: 100%;
	margin: 3em auto;
	position: relative;
	top: -1.5em;
}
.hide-tasks,
.unhide,
.hide-complete,
.delete-all {
	width: 29%;
	padding: 2% 0;
	margin: 0 2.15%;
	float: left;
	font-size: 0.8em;
	background-color: #f9f9f9;
	border-radius: 2px;
	cursor: pointer;
}
footer p {
	margin-bottom: 0.8em;
}
.social li {
	display: inline-block;
}
.social a {
	text-decoration: none;
	color: #444444;
	border: 0;
	border-radius: 50%;
	width: 2em;
	height: 2em;
	line-height: 2em;
}
.social a:hover {
	background-color: #ffffff;
}
.social span {
	display:none;
}